.right-side {
  background-color: wheat;
  padding: 40px;
  width: 100%;
  border: 1px solid salmon;
}

.right.title {
  color: rgb(51, 49, 49);
  text-shadow: 1px 1px teal;
  padding-bottom: 30px;
}

.project--link {
  @include font(600, 16px, 1.13);
  color: var(--text-color);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: tomato;
  }
}

.experiance {
  padding-top: 40px;
}

.prof__title {
  font-family: "Goldman";
  @include font(700, 22px, 1.16);
}
.prof__place {
  color: teal;
}
.prof__time {
  @include font(500, 16px, 1.17);
}
