.right-side {
  background-color: rgb(245, 222, 179);
  padding: 40px;
  width: 100%;
  border: 1px solid #fa8072;
}

.right.title {
  color: rgb(51, 49, 49);
  text-shadow: 1px 1px var(--accent-color);
  padding-bottom: 30px;
}
.project-list {
  list-style: none;
}
.proj-item {
  display: flex;
  flex-direction: column;
}
.proj-decription {
  font-size: 16px;
  color: var(--text-color);
}
.project--link {
  @include font(500, 18px, 1.73);
  color: var(--text-color);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--hover-color);
  }
}
.project--title {
  @include font(500, 20px, 1.73);
  text-shadow: 1px 1px var(--accent-color);
}

.experiance {
  padding-top: 40px;
}

.prof__title {
  font-family: 'Goldman';
  @include font(700, 22px, 1.16);
}
.prof__place {
  color: var(--accent-color);
}
.prof__time {
  @include font(500, 18px, 1.17);
}
