.container {
  &.header {
    background-color: var(--primary-background-color);
    display: flex;
    flex-direction: column;

    // justify-content: center;
    // border-bottom: 1px solid palegoldenrod;
  }
}

.name {
  margin: 0 auto;
  margin-top: 40px;
  font-family: 'Prompt';
  @include font(700, 42px, 1.12);
  text-transform: uppercase;
  text-shadow: 1px 2px tomato;
  color: bisque;
  @media screen and (min-width: 1200px) {
    font-size: 56px;
  }
}
.prof {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
